

#my-form1 {
    padding: 2rem;
    background: #333;
    color: white;
    text-align: center;
    margin-top: 80px;
    width:30%
}

#my-form1 label {
    display: block;
}

#my-form1 input{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.btn1{
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    background: #333;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
}
.btn1:hover {
    background: coral;

}
