
@page
@model WebApp.Pages.SignUpModel
@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/signUp.css">

<body>

        <div class="new-container1">
            <form  method="POST"id="my-form1">
                <h1>Sign Up</h1>             
           
                <div>                 
                    <input asp-for="user.Name"  type="text" id="name" placeholder="Name">
                    <span asp-validation-for="user.Name"></span>
                </div>
                <div>                  
                    <input asp-for="user.Password" type="text" id="Password" placeholder="Password">
                    <span asp-validation-for="user.Password"></span>
            </div>  
        


                <input class="btn1" type="submit" value="Submit">
            </form>
                <p> @ViewData["Message"]</p>
            @section Scripts {
                <partial name="_ValidationScriptsPartial" />}
        </div>
  
</body>
