@page
@model WebApp.Pages.SignInModel
@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/signIn.css">
<body>

    <h1>
        Please login first
    </h1>
  
        <div class="new-container">
            <form method="POST" id="my-form">
                <h1>Sign in</h1>

                <div>

                <input asp-for="userDTO.Name " type="text" id="username" placeholder="Enter your username">
                <span asp-validation-for="userDTO.Name"></span>
                </div>
                <div>
                 
                    <input asp-for="userDTO.Password" type="password" id="Password" placeholder="Enter your password">
                    <span asp-validation-for="userDTO.Password"></span>
                </div>

                <input class="btn1" type="submit" value="Submit">
                <button class="btn2"><a asp-page="/SignUp">Sign Up ?</a></button>
            </form>
           
            @section Scripts {
                <partial name="_ValidationScriptsPartial" />
 }
        </div>
     
</body>

